@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif; */
:root{
    --text-color:#333;
    --text-category-color:#3d3d3d;
    --white-color:#fff;
    --black-color:#000;
    --primary-color:#ff5622;
    --category-color:#d7102c;
    --content-color:#efefef;
    --fashion1-color:#e8b35f;
    --fashion2-color:#fc516d;
    --fashion3-color:#42b315;
    --sale-color:#ffba00;
}
*{
    box-sizing: inherit;  
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}
.position{
    position: relative;
}
.category__icon--color{
    color: var(--primary-color) !important;
}
.pl-8{
    padding-left: 8px;
}
.mt-10{
    margin-top: 10px;
}
.btn{
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    padding: 3px 12px;
    border: 1px solid transparent;
}

.btn--primary{
    background-color: var(--primary-color);
}
.btn--none {
    display: none;
    position: absolute;
    top: 53%;
    left: 10px;
    cursor: pointer;
}
.top-sale__heading::after {
    position: absolute;
    content: "";
    width: 80px;
    height: 1px;
    background-color: var(--primary-color);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.sale__off-fashion{
    position: absolute;
    top: 15px;
    left: 10px;
    padding: 5px;
    background-color: #ffba00;
    border-radius: 50%;
    color: #fff;
    min-width: 26px;
}
.out-sell-off{
    width: 100%;
    position: absolute;
    top: 39%;
    /* left: 50%; */
    transform: translateX(-50%);
    transform: translateY(-50%);
    color: var(--black-color);
    font-size: 2.6rem;
    background-color: rgb(245 245 245 / 60%);
    text-align: center;
    padding: 28px 0;
}
.category-left__heading--1{
    background-color: var(--fashion2-color) !important;
}
.fashion-category--1{
    border-top: 1px solid var(--fashion2-color) !important;
}
.fashion-category__item--1:hover::before{
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:var(--fashion2-color) !;
}
.fashion-category__item--1:first-child:active .fashion-category__link{
    color: var(--fashion2-color);
}
.fashion-category__item--1:first-child::before{
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--fashion2-color) !important;
}
/*  */
.category-left__heading--2{
    background-color: var(--fashion3-color) !important;
}
.fashion-category--2{
    border-top: 1px solid var(--fashion3-color) !important;
}
.fashion-category__item--2:hover::before{
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color:var(--fashion3-color) !;
}
.fashion-category__item--2:first-child:active .fashion-category__link{
    color: var(--fashion3-color);
}
.fashion-category__item--2:first-child::before{
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--fashion3-color) !important;
}
.line-though{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 1px;
    background-color:#eaeaea;
}
/* btn-1 */

.btn-1{
    padding: 7px 0;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    margin: 8px;
    color: #fff;
}
.btn-1--primary{
    background-color: var(--primary-color);
}
.btn-1--secondary{
    background-color: var(--category-color);
}